
@color: #00a0e9;
@offset: -4px;

.border {
  position: relative;
  .dash {
    position: absolute;
    width: 16px;
    height: 16px;
    border-style: solid;
    border-color: @color;
  }
  .dash-tl {
    border-width: 2px 0 0 2px;
    left: @offset;
    top: @offset;
  }
  .dash-tr {
    border-width: 2px 2px 0 0;
    right: @offset;
    top: @offset;
  }
  .dash-bl {
    border-width: 0 0 2px 2px;
    left: @offset;
    bottom: @offset;
  }
  .dash-br {
    border-width: 0 2px 2px 0;
    right: @offset;
    bottom: @offset;
  }
}
