.filter {
  text-align: right;

  .ant-form-item-control {
    line-height: 32px;
  }
  .ant-btn {
    margin-top: 0px;
  }

  .ant-input-affix-wrapper .ant-input:not(:last-child) {
    width: 190px;
    height: 32px;
    background: #191e25;
    border: 1px solid #5e6f85;
    color: #99a7b2;
    border-radius: 0;

    &:focus {
      border: 1px solid #005bca !important;
      box-shadow: 0 0 15px 0 rgba(0, 193, 220, 0.37);
    }
  }

  .anticon-search:before {
    content: '\E670';
    color: #99a7b2;
  }
}
