.adduser{
  background-color: #21283A;
  p{
    margin-bottom: 0;
  }
  .box{
    width: 90%;
    margin: auto;
    background-color: #293548;
    margin-top: 35px;
    padding: 40px 50px;
  }
  .breadcrumb{
    border-left: 5px solid #29ABE2;
    padding-left: 8px;
    margin: 15px 25px;
    .ant-breadcrumb-separator,.ant-breadcrumb-link,.ant-breadcrumb a:hover,.ant-breadcrumb-link a{
      color: #fff !important;
    }
  }
  .icon{
    display: inline-block;
    width: 6px;
    background-color: #29ABE2;
    height: 18px;
    vertical-align: middle;
    border-radius: 5px;
    margin-right: 10px;
  }
  .tit{
    color: #29ABE2;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
  }
  .form{
    .ant-form-item-label label{
      color: #eeeeee;
    }
    .ant-form-item-control{
      width: 400px;
      margin-left: 15px;
    }
    .ant-input,.ant-select-selection,.has-error .ant-input, .has-error .ant-input:hover{
      background-color: #1C2435;
      border-color: #1C2435;
      color: #fff;
    }
    .ant-select-arrow{
      color: #546B83;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active{
      -webkit-box-shadow: 0 0 0px 1000px #1C2435 inset;
      -webkit-text-fill-color: #FFFFFF !important;
    }
    .ant-input-disabled{
      color: #556A8B !important;
    }
    :global{

    }
    input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
      color: #556A8B;
    }
  }

  .sure,.sure:focus{
    background: linear-gradient(90deg,rgba(0,255,255,1),rgba(41,171,226,1));
    position: relative;
    color: #333;
    border: 0;
    width: 120px;
    font-size: 16px;
    border-radius: 3px;
    height: 40px;
    margin-right: 10px;
  }
  .sure:hover,.sure:active,.sure:visited{
    background: linear-gradient(90deg,rgba(41,171,226,1),rgba(41,171,226,1));
    color: #333;
  }
  .cancel{
    background-color: #1C2435;
    color: #fff;
    width: 120px;
    border: 1px solid #29ABE2;
    font-size: 16px;
    height: 40px;
  }
  .cancel:hover,.cancel:focus,.cancel:active{
    background-color: #1C2435;
    border-color: #08EEF9;
  }
  .textarea{
    .ant-form-item-control-wrapper .ant-form-item-control{
      width: 520px;
      height: 100px;
      textarea{
        width: 520px;
        height: 100px;
        resize: none;
      }
    }
  }

}
