.usermanagement{
  background-color: #21283A;
  height: 100%;
  overflow-y: auto;
  .box{
    width: 90%;
    margin: auto;
    background-color: #293548;
    margin-top: 35px;
    padding: 0 0 40px 0;
  }
  a{
    color: #29ABE2;
  }
  .ant-divider{
    background: #29ABE2;
  }
  a:hover{
    color: #00DEFF;
  }
  .table{
    color: #586E85;
    margin-bottom: 15px;
    .ant-table-thead > tr > th{
      background: #293548;
      color: #858B97;
      font-size: 16px;
      text-align: center;
    }
    .ant-table-tbody > tr > td{
      color: #586E85;
      text-align: center;
    }
    .ant-table-tbody > tr > td > span{
      width: 230px;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
      text-overflow: ellipsis;
    }
    .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td{
      background: #21283A;
    }
    .ant-table-tbody > tr > td,.ant-table-thead > tr > th{
      border-bottom: 1px solid #222B3C;
    }
    .ant-table-body{
      padding: 15px;
    }
    .ant-table-placeholder{
      background: #293548;
      border-top: 1px solid #293548;
      border-bottom: 1px solid #293548;
    }
    .ant-empty-normal{
      color: #858B97;
    }
    .ant-switch-disabled{
      opacity: 1;
    }
    .ant-switch{
      height: 16px;
    }
    .ant-switch::after{
      background-color: #657C94;
      top: -3px;
    }
    .ant-switch-checked {
      background-color: #1C2435;
    }
    .ant-switch-checked::after{
      background-color: #29ABE2;
    }
  }
  .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 45px;
    border-bottom: 1px dashed #597189;
  }
  .input{
    width: 320px;
    background-color: #21283A;
    border: 0;
    border-radius: 0;
    font-size: 13px;
    color: #999;
    line-height: 22px;
  }
  .btn,.btn:focus{
    background: linear-gradient(90deg,rgba(0,255,255,1),rgba(41,171,226,1));
    position: relative;
    color: #333;
    border: 0;
    width: 80px;
    font-size: 14px;
    border-radius: 3px;
    margin-left: 30px;
  }
  .btn:hover,.btn:active,.btn:visited{
    background: linear-gradient(90deg,rgba(41,171,226,1),rgba(41,171,226,1));
    color: #333;
  }
  .iconAdd{
    width: 24px;
    height: 24px;
    background-color: #FCA046;
    display: inline-block;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    margin-right: 6px;
    vertical-align: middle;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    transition: All 1s ease-in-out;
  }
  .newBtn:hover .iconAdd{
    transform: rotate(360deg);
  }
  .new{
    font-size: 14px;
    color: #fff;
    vertical-align: middle;
  }
  .new:after{
    content: '';
    width: 1px;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(112, 112, 112, 0) 0%, rgba(112, 112, 112, 0.9) 50%, rgba(112, 112, 112, 0) 100%);
  }
  .pagination{
    text-align:right;
    padding-right: 40px;
    .ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link,.ant-pagination-item,.ant-select-selection,.ant-pagination-options-quick-jumper input{
      background-color: #21283A;
      color: #858B97 !important;
      border: 1px solid #21283A;
    }
    .ant-pagination-item a{
      color: #858B97 !important;
    }
    .ant-pagination-item-active,.ant-pagination-item:hover{
      border:1px solid #29ABE2;
    }
    .ant-pagination-item-active a,.ant-pagination-item:hover a{
      color: #29ABE2 !important;
    }
    .ant-pagination-options-quick-jumper{
      color: #858B97;
    }

  }
  .breadcrumb{
    border-left: 5px solid #29ABE2;
    padding-left: 8px;
    margin: 15px 25px;
    .ant-breadcrumb-separator,.ant-breadcrumb-link,.ant-breadcrumb a:hover{
      color: #fff !important;
    }
  }

}

