//body{
//  overflow-x: hidden;
//}
//.c-header{
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//  padding: 0 0 0 25px;
//  border-bottom: 1px solid #0E90C6;
//  background-color: #293A57;
//  p,ul{
//    margin: 0;
//  }
//  .title{
//    font-size: 18px;
//    color: #fff;
//    font-weight: bold;
//    vertical-align: middle;
//    display: inline-block;
//  }
//  .logo{
//    width: 47px;
//    vertical-align: middle;
//    margin-right: 15px;
//  }
//  .ul{
//    display: inline-block;
//  }
//  .li{
//    list-style: none;
//    display: inline-block;
//  }
//  .li a{
//    color: #333;
//    font-size: 14px;
//  }
//  .li span{
//    padding: 0 15px;
//    border-left: 1px solid #ccc;
//    line-height: 14px;
//    display: inline-block;
//  }
//  .li:first-child span{
//    border: 0;
//  }
//  .ant-dropdown-link{
//    color: #ffffff;
//  }
//  .aa{
//    background-color: #333;
//  }
//  .menu{
//    background-color: transparent;
//    border-bottom: 0;
//    .ant-menu-item .anticon{
//      font-size: 22px;
//      color: #586E85;
//      margin-right: 0;
//    }
//    .ant-menu-item{
//      padding-top: 8px;
//    }
//    .ant-menu-item:hover,.ant-menu-submenu:hover,.ant-menu-item-active,.ant-menu-submenu-active,.ant-menu-item-open,.ant-menu-submenu-open,.ant-menu-item-selected, .ant-menu-submenu-selected{
//      border-bottom:0;
//      border-color: transparent;
//    }
//    .ant-menu-item:hover a,.ant-menu-submenu:hover a,.ant-menu-item-active a,.ant-menu-submenu-active a,.ant-menu-item-open a,.ant-menu-submenu-open a,.ant-menu-item-selected a, .ant-menu-submenu-selected a{
//      border-bottom: 2px solid #29ABE2;
//      color: #29ABE2;
//    }
//    .ant-menu-item:hover a .anticon,.ant-menu-submenu:hover a .anticon,.ant-menu-item-active a .anticon,.ant-menu-submenu-active a .anticon,.ant-menu-item-open a .anticon,.ant-menu-submenu-open a .anticon,.ant-menu-item-selected a .anticon, .ant-menu-submenu-selected a .anticon{
//      color: #29ABE2;
//    }
//  }
//}
//.ant-dropdown-menu{
//  background-color: rgba(0, 0, 0, 0.8) !important;
//  text-align: center !important;
//}
//.ant-dropdown-menu-item{
//  color: #fff !important;
//  font-size: 12px !important;
//  padding: 1px 0 !important;
//}
//.ant-dropdown-menu-item:first-child{
//  color: #FCA046 !important;
//}
//.ant-dropdown-menu-item:last-child{
//  color: #0A8BC2 !important;
//}
//.ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover {
//  background-color: transparent !important;
//}
