@import "~antd/dist/antd.less";

::-webkit-scrollbar {
  width: 4px;
  height: 4px
}

::-webkit-scrollbar-thumb {
  background-color: #434b55
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  #root{
    width: 100vw;
    height:100vh;
    .router_root{
      width: 100%;
      height:100%;
    }
  }
}
