.dashBoard{
  &-hd {
    padding: 20px 0 10px;
    display: flex;
    &:before,
    &:after {
      flex: 1;
      content: '';
    }
    &:before {
      background: url("../../../image/line-l.png") no-repeat 100% 50%;
    }

    &:after {
      background: url("../../../image/line-l.png") no-repeat 0 50%;
    }

    &-title {
      text-align: center;
      color: #222222;
      font-size: 30px;
      font-weight: bold;
      text-shadow: 0px 0px 15px rgba(0, 42, 255, 0.35);
      padding: 0 30px;
    }

  }

  .main-screen {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    user-select: none;
    padding: 30px;

    .my-screen {
      margin: 16px;
      .new-project {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 184px;
        width: 258px;
        border: 1px solid #00a0e9;
        font-size: 14px;
        color: #fff;
        background-image: linear-gradient(-90deg,#060b52 0,#1f2f91 50%,#060b52 100%);
        box-shadow: 0 0 10px 0 rgba(0,0,0,.18);
        cursor: pointer;
        &:hover {
          background-image: linear-gradient(-90deg,#6ac2f6 0,#9782d3 100%);
          box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
        }
        .add-new-screen {
          .icon-add {
            display: block;
            height: 40px;
            width: 100%;
            position: relative;
            text-align: center;
            margin-bottom: 10px;
            &:after,
            &:before {
              position: absolute;
              content: '';
              background-color: #fff;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);

            }
            &:before {
              width: 4px;
              height: 30px;
            }
            &:after {
              width: 30px;
              height: 4px;
            }

          }
          .span-spacing {
            letter-spacing: 2px
          }

        }
      }
    }
  }

  .screen {
    display: flex;
    flex-direction: column;
    width: 258px;
    height: 184px;
    border: 1px solid #00a0e9;
    background: #21283a;
    &:hover {
      box-shadow: 0 0 20px 0 #000;
      border: 1px solid #00a0e9;
    }
    &-info {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        .screen-edit {
          display: flex;
          width: 100%;
          height: 100%
        }
      }

      .isAdmin {
        position: absolute;
        top: 5px;
        right: 10px;
        z-index: 9;
        color: #00a0e9;
        font-size: 18px;
      }

      .screen-img {
        background-repeat: no-repeat;
        background-position: 50% 50%;
        width: inherit;
        height: 147px;
        opacity: .6;
      }

      .screen-img-no-icon {
        background-size: 50% 50%;
      }

      .screen-edit {
        position: absolute;
        display: none;
        align-items: center;
        justify-content: center;
        background: rgba(0,0,0,.6);

        .screen-button {
          text-align: center;
        }

        .edit-button {
          width: 178px;
          font-size: 14px;
          height: 30px;
          line-height: 30px;
          background-image: linear-gradient(45deg,rgba(0,255,255,.85),rgba(41,171,226,0.85) 100%);
          color: #fff;
          border: none;
          transition: .3s ease;
          cursor: pointer;
          box-sizing: border-box;
          outline: 0;
          text-align: center;
          display: inline-block;
          vertical-align: middle;
          border-radius: 16px;

          &:hover {
            background-image: linear-gradient(45deg,rgba(0,255,255,1),rgba(41,171,226,1) 100%);
          }
        }

        .preview {
          position: absolute;
          top: 10px;
          right: 35px;
          color: #fff;
          cursor: pointer;
          &:hover {
            color: #00baff;
          }
        }

        .public {
          position: absolute;
          top: 10px;
          right: 10px;
          color: #fff;
          cursor: pointer;
          &:hover {
            color: #00baff;
          }
        }

        .tool-tip {
          left: -17px;
        }

        .main-button {
          display: flex;
          justify-content: space-around;
          font-size: 19px;
          padding: 15px 0 0;
          align-items: center;
          color: #fff;
          list-style: none;
          margin: 0;

          .button-span {
            cursor: pointer;
            padding: 0 10px;
            white-space: nowrap;

            a {
              color: #fff;
              &:hover {
                color: #00baff;
              }
            }
            .datav-font {
              font-size: 14px;
            }
            &:hover {
              color: #00baff;
            }
            &--disabled {
              color: #aaa;
              cursor: default;
              &:hover {
                color: #aaa;
              }
            }
            .screen-font {
              padding-right: 4px
            }
          }
        }
      }
    }

    &-main {
      .main-name {
        width: 100%;
        height: 36px;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-between;
        color: #fff;
        background: rgba(6,24,31,.4);
        padding: 0 10px;

        .main-name-text {
          width: 120px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        .publish-info {
          align-items: center;
          display: flex;
          color: #bcc9d4;

          .name-icon {
            margin-right: 5px;
            display: inline-block;
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 2px;
          }

          .color-576369 {
            background-color: #576369;
          }

          .color-3DE7C9 {
            background-color: #3de7c9;
          }
        }
      }
    }
  }

  .ant-badge-status-text {
    font-size: 12px;
    margin-left: 4px;
    color: #fff;
  }
}


@-webkit-keyframes smallToBig{
  from {
    -webkit-transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@-webkit-keyframes moveFromTop {
  from {
    -webkit-transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(100%);
  }
}
.ant-skeleton-title{
  background-color: #d5d6d9 !important;
}
.ant-skeleton-content .ant-skeleton-paragraph > li {
  background-color: #d5d6d9 !important;
}

.pagination-bar {
  @pagination-prefix-cls: ant-pagination;
  @primary-color: #29abe2;
  @primary-5: #16a1dc;
  @text-color: #777d8a;
  @pagination-item-bg-active: #21283a;
  @disabled-color: #434b55;
  @border-color-base: #434b55;

  text-align: center;
  padding-bottom: 50px;

  .@{pagination-prefix-cls} {
    display: inline-block;
    color: @text-color;

    &-item {
      background-color: #21283a;
      border-color: #21283a;

      a {
        color: @text-color;
      }

      &:focus,
      &:hover {
        border-color: @primary-color;

        a {
          color: @primary-color;
        }
      }

      &-active {
        background: @pagination-item-bg-active;
        border-color: @primary-color;

        a {
          color: @primary-color;
        }

        &:focus,
        &:hover {
          border-color: @primary-5;
        }

        &:focus a,
        &:hover a {
          color: @primary-5;
        }
      }
    }

    &-jump-prev,
    &-jump-next {
      .@{pagination-prefix-cls}-item-container {

        .@{pagination-prefix-cls}-item-link-icon {

          color: @primary-color;
        }

        .@{pagination-prefix-cls}-item-ellipsis {
          color: @text-color;
        }
      }
    }

    &-prev,
    &-next,
    &-jump-prev,
    &-jump-next {
      color: @text-color;
    }

    &-prev,
    &-next {

      a {
        color: @text-color;
      }

      &:hover a {
        border-color: @primary-5;
      }

      .@{pagination-prefix-cls}-item-link {
        background-color: #21283a;
        border-color: #21283a;
      }

      &:focus .@{pagination-prefix-cls}-item-link,
      &:hover .@{pagination-prefix-cls}-item-link {
        color: @primary-color;
        border-color: @primary-color;
      }
    }

    &-disabled {
      &,
      &:hover,
      &:focus {
        a,
        .@{pagination-prefix-cls}-item-link {
          color: @disabled-color;
          border-color: @border-color-base;
        }
      }
    }

    &-options {
      color: @text-color;

      &-quick-jumper {
        input {
          color: @text-color;
          background-color: @pagination-item-bg-active;
          border-color: @pagination-item-bg-active;
        }
      }
    }

  }
}

.my-project {
  background-color: #273245;
  width: 1280px;
  min-height: 652px;
  margin: 50px auto 0;

  .project-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #434b55;
    padding: 20px;

    .project-title {
      display: flex;
      align-items: center;
      padding: 6px 0;
      line-height: 20px;

      h2 {
        max-width: 200px;
        font-size: 14px;
        color: #29abe2;
        padding: 0 10px;
        border-left: 2px solid #29abe2;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin: 0;
      }

      &-info {
        font-size: 14px;
        letter-spacing: 1px;
        color: #eee;

        em {
          padding: 0 2px;
          color: #29abe2;
          font-style: normal;
        }
      }
    }
  }


}

.dark-filter {
  height: 32px;
  .ant-form-item-label {
    line-height: 32px;
    > label {
      color: #eee;
    }
  }
  .ant-select-selection{
    background-color: #21283A;
    border: 0;
    border-radius: 0;
  }
  .ant-select-arrow-icon{
    color: #FEFEFE;
  }
  .ant-select{
    color: #ffffff;
  }
  .ant-input-search-icon{
    color: #A7B4C0;
  }

  .ant-input-suffix:hover .ant-input-search-icon {
    color: #fff;
  }
  .ant-input-affix-wrapper .ant-input{
    border: 0 !important;
    color: #fff !important;
    background-color: #21283A !important;
    width: 240px !important;
  }
}
