

.screen-name-input{
  cursor:pointer;
  font-size:14px;
  display:flex;
  align-items: center;
  flex:1;

  .anticon-edit {
    font-size: 12px;
  }

  .input{
    width: 120px;
    color:#bcc9d4;
    background:0 0;
    padding:0 5px;
    line-height:28px;
    font-size: 12px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    border:1px solid transparent;

    &,
    &:active,
    &:focus {
      outline: 0;
    }

    &:hover{
      color:#fff
    }

    :focus{
      background:#1d262e
    }

  }

  .input-edit{
    font-size:12px;
    display:none;
    padding-right:4px
  }

  &:hover .input-edit{
    color:#fff;
    display:block
  }
}

.ht-modal-wrap {
  .ant-modal {
    position: relative;
    min-width: 400px;
    max-width: 80%;

    &-title {
      color: #29abe2;
      font-size: 14px;
      line-height: 20px;

    }

    &-content {
      color: #fff;
      background-color: #293548;
      border-radius: 0;
      box-shadow: none;

      &::before {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 2px;
        background-image: linear-gradient(270deg,#00deff 0,#2483ff 74%);
      }
    }

    &-close {
      color: #29abe2;
      font-weight: normal;

      &-x {
        font-size: 16px;
      }

      &:focus,
      &:hover {
        color: #00deff;
      }
    }

    &-header {
      padding: 16px 20px;
      background: transparent;
      border-bottom: 0 none;
      border-radius: 0;
    }

    &-body {
      padding: 20px;
      font-size: 12px;
      line-height: 2;
      word-wrap: break-word;
    }

    &-footer {
      padding: 8px 30px;
      background: transparent;
      border-top: 1px solid #2f4261;
      border-radius: 0;
      button + button {
        margin-bottom: 0;
        margin-left: 10px;
      }
    }

    &-mask {
      background-color: #000;
      filter: ~'alpha(opacity=50)';
    }
  }

  .ant-btn {
    border: 1px solid #2483ff;
    background-color: transparent;
    color: #fff;
    padding: 0 26px;

    &:hover {
      border-color: #00deff;
      background-color: transparent;
      color: #fff;
    }
  }

  .ant-btn-primary {
    background-image: linear-gradient(90deg,#00ffff 0,#29abe2 100%);
    border: 0 none;
    background-color: #29abe2;
    color: #21283a;

    &:hover {
      color: #21283a;
      background-image: linear-gradient(90deg,#00deff 0,#2483ff 74%);
    }
  }

  .ant-form-item-label > label {
    color: #eee;
  }

  .ant-input {
    color: #858b97;
    background-color: #1c2435;
    border: 1px solid #1c2435;
    border-radius: 4px;
  }

}
::-webkit-input-placeholder{/*Webkit browsers*/
  color:#666!important;
}
.ant-select-selection__placeholder{
  color: #666 !important;
}
