.public-form{
  .ant-switch{
    height: 16px;
  }
  .ant-switch::after{
    background-color: #657C94;
    top: -3px;
  }
  .ant-switch-checked {
    background-color: #1C2435;
  }
  .ant-switch-checked::after{
    background-color: #29ABE2;
  }
  .ht-modal-wrap .ant-input{
    width: 100%;
    background-color: #1c2435 !important;
  }
  .has-error .ant-input, .has-error .ant-input:hover{
    background-color: #1c2435;
  }
  .int{
    .ant-col.ant-col-15.ant-form-item-control-wrapper{
      width: 100%;
      text-align: left;
      margin-left: 30px;
    }
    input.ant-input{
      width: 64% !important;
      margin-right: 5px;
    }
    .btn,.ant-btn:active{
      width: 58px;
      padding: 0;
      font-size: 14px;
      color: #29ABE2;
      border: 1px solid #29ABE2;
      border-radius: 3px;
      line-height: 32px;
      background-color: transparent;
    }
    .btn:hover{
      border-color: #08EEF9 !important;
      color: #08EEF9 !important;
    }
  }
  .ant-calendar-picker-clear,.ant-calendar-picker-icon{
    display: none;
  }
  .ant-calendar-picker{
    width: 100%;
  }
  .ant-radio-wrapper{
    color: #eeeeee;
  }
  .ant-radio-inner{
    border-color: #AAAAAA;
    background-color: transparent;
  }
  .ant-radio-checked .ant-radio-inner{
    border-color: #29ABE2;
  }
  .ant-radio-inner::after{
    background-color: #29ABE2;
  }
  .ant-btn{
    border-color: #29ABE2 !important;
  }
  .ant-btn:hover{
    border-color: #08EEF9 !important;

  }
  .ant-input[disabled]{
    background-color: #1c2435;
    border: 0;
  }
  .ant-input[disabled]:hover{
    background-color: #1c2435;
    border: 0;
  }
  .ant-radio-disabled .ant-radio-inner {
    background-color: transparent;
    border-color: #666 !important;
  }
  .ant-radio-disabled .ant-radio-inner::after {
    background-color: #666 !important;
  }
  .ant-radio-disabled + span {
    color: #fff;
    cursor: not-allowed;
  }
  .ant-btn[disabled],.ant-btn[disabled]:hover{
    background-color: transparent;
    color: #666;
    border-color: #666 !important;
  }
  .ant-btn-primary:hover{
    background-image: linear-gradient(90deg, #00CDFF 0, #00CDFF 74%) !important;
  }
  .eye{
    position: relative;
    i{
      position: absolute;
      color: #fff;
      right: 5px;
      line-height: 44px;
    }
  }
}
