.header {
  height: 70px;
  padding: 0 24px;
  background: #2f466b;
  border-bottom: 1px solid #0788be;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  position: relative;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 70px;
  line-height: 70px;
  vertical-align: top;
  display: inline-block;
  padding: 0 0 0 63px;
  cursor: pointer;
  font-size: 18px;
  color: #eee;
  position: relative;

  &:hover {
    color: #eee;
  }

  img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.right {
  //float: right;
  height: 100%;
  //padding: 8px 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  .action {
    cursor: pointer;
    margin: 0 15px;
    float: left;
    transition: all 0.3s;
    height: 100%;
    line-height: 50px;
    color: #eee;
    > i {
      vertical-align: middle;
      color: #597189;
      font-size: 20px;
    }
    &:hover {
      > i {
        color: #28a6db;
      }
    }
    &:global(.opened) {
      background: #f00;
    }
  }
  .account {
    line-height: 70px;
    > i {
      vertical-align: middle;
      color: #fff;
      font-size: 14px;
    }
    > span{
      vertical-align: middle;
      font-size: 12px;
      margin: 0 2px;
    }
    &:hover {
      > i {
        color: #fff;
      }
    }
  }
  .menu{
    background-color: transparent;
    border-bottom: 0;
    line-height:70px;
    :global{
      .ant-menu-item .anticon{
        margin: 0;
        font-size: 22px;
        color: #586E85;
      }
      .ant-menu-item-selected,.ant-menu-item:hover{
        border-bottom: 2px solid transparent;
      }
      .ant-menu-item{
        padding: 0;
        line-height: 70px;
        height: 62px;
      }
      .ant-menu-item-selected a{
        border-bottom: 2px solid #29ABE2;
      }
      .ant-menu-item-selected a i{
        color: #29ABE2 !important;
      }
    }
  }
}

.headerDropdown {

}
:global{
  .ant-dropdown-menu {
    background-color: rgba(0, 0, 0, 0.8) !important;
    text-align: center !important;
    width: 100px;
    margin: auto !important;
  }
  .ant-dropdown-menu-item{
    color: #fff !important;
    font-size: 12px !important;
    padding: 1px 0 !important;
  }
  .ant-dropdown-menu-item:first-child{
    color: #FCA046 !important;
  }
  .ant-dropdown-menu-item:last-child{
    color: #0A8BC2 !important;
  }
  .ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover {
    background-color: transparent !important;
  }
}

.company {
  color: #fff;
  margin-right: 30px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  padding-left: 22px;
  :global {
    .anticon {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
