.page-login{
  width: 100%;
  height: 100vh;
  zoom:1;
  .header-wrapper {
    float: left;
    position: relative;
    background: rgba(2, 37, 61, 1);
    width: calc(~"100% - 573px");;
    height: 100vh;
    box-shadow: 0px 0px 45px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    .leftImg {
      height: 100vh;
      width: 100%;
    }

    .title {
      position: absolute;
      top: 8%;
      left: 52px;
      height: 50px;
      font-size: 18px;
      font-family: MicrosoftYaHei;
      font-weight: 400;
      color: rgba(238, 238, 238, 1);
      line-height: 41px;
    }

    .titleImg {
      width: 47px;
      height: 42px;
      display: inline-block;
      margin-right: 14px;
    }

    .intro {
      position: absolute;
      top: 40%;
      left: 113px;
      font-size: 40px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);

      .intro-sub {
        font-size: 32px;
      }
    }
    .ant-carousel .slick-dots {
      position: absolute;
      bottom: 20%;
    }

    .ant-carousel {
      height: 100vh;
    }
  }


  .form-wrapper{
    float: right;
    width: 573px;
    height: 100vh;
    background: #232a3d;
    overflow:scroll;
    text-align: center;
    zoom: 1;
    &::after{
      content:".";
      clear:both;
      display:block;
      height:0;
      overflow:hidden;
      visibility:hidden;
    }
    .welcometitle {
      margin-top: 15%;
      font-size: 18px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(238, 238, 238, 1);

      .welcome-img {
        width: 77px;
        height: 68px;
        display: inline-block;
      }
      .hr1 {
        margin: 41px auto;
        height: 1px;
        width: 350px;
        background: linear-gradient(to right, #232A3D, #0252A1, #232A3D);
      }
    }



    .ant-form {
      margin: 15% 10% 0 15%;
    }

    .form-container {
      .ant-row {
        margin-top: 20px;
      }

      .ant-input {
        padding-left: 50px !important;
        background-color: #232a3d;
        border: none;
        border-bottom: 1px solid #29ABE2;
        color: rgba(133, 139, 151, 1);
      }

      .ant-input::placeholder {
        color: #858B97;
      }

      .ant-form-explain {
        text-align: left;
      }

      .anticon svg {
        width: 22px;
        height: 21px;
        color: #597189;
      }
    .captcha{
       .ant-row{
        margin-top: 0;
      }
      .ant-form-explain {
        position: relative;
        bottom:40px;
      }
      .has-success.has-feedback .ant-form-item-children-icon{
        position: relative;
        left:30px;
        bottom: 40px;

      }
      .has-error.has-feedback .ant-form-item-children-icon{
        position: relative;
        left:30px;
        bottom: 40px;
      }
    }



      .reload-link {
        font-size: 12px;
        font-family: MicrosoftYaHei;
        font-weight: 400;
        text-decoration: underline;
        color: rgba(216, 161, 35, 1);
        line-height: 22px;
        margin-left: 10px;
      }

      .checkbox {
        color: rgba(133, 139, 151, 1);
        float: left;
      }

      .forget-password-link {
        color: rgba(133, 139, 151, 1);
        float: right;
      }

      .submit-btn {
        display: block;
        width: 100%;
        border: none;
        color: white;
        text-align: center;
        cursor: pointer;
        vertical-align: center;
        height: 46px;
        background: linear-gradient(90deg, rgba(0, 255, 255, 1), rgba(41, 171, 226, 1));
        font-size: 16px;
        font-family: MicrosoftYaHei;
        font-weight: 400;
        border-radius: 3px;

        &:hover {
          background: linear-gradient(90deg, rgba(0, 215, 215, 1), rgba(41, 151, 216, 1));
          }
       }

     }
  }
   &::after{
    content:".";
    clear:both;
    display:block;
    height:0;
    overflow:hidden;
    visibility:hidden;
   }
}

















