
.page-forget-all {
  width: 100vw;
  height: 100vh;

  .main {
    height: calc(~"100% - 67px");
    overflow: scroll;
    background: #21283A;
    zoom: 1;
    .main-header {
      margin-top: 8px;
      margin-left: 24px;
      //height: 14px;
      font-size: 14px;
      font-family: PingFangSC-Light;
      font-weight: 300;
      color: rgba(238, 238, 238, 1);
      line-height: 41px;
      .line{
          width: 5px;
          height: 22px;
          background: rgba(41,171,226,1);
          margin-right:12px;
          }
    }

    .content {
      margin: 2% 6% 2%;
      padding-top: 44px;
      //overflow: hidden;
      background: #293548;
     // height: 80%;
      zoom:1;
      position: relative ;
      .forgetHeader {

        margin-left: 46px;
        height: 22px;
        font-size: 18px;
        font-family: MicrosoftYaHei;
        font-weight: 400;
        color: rgba(41, 171, 226, 1);
        line-height: 22px;
        .line{
          width: 6px;
          height: 18px;
          background: rgba(41,171,226,1);
          borderRadius: 3px;
          margin-right:8px;
           }
      }



      .ant-steps {
        margin: 5% auto;
        width: 40%;
        background: #293548;
      }

      .Steps {
          .ant-steps-item-process,.ant-steps-item-finish
          {

            .ant-steps-item-tail:after {
              position: absolute ;
              background-color: #FCA046 ;
              top: 8px ;
            }

            .ant-steps-item-title {
              color: #FCA046 ;
              font-size: 14px ;
              font-family: STHeitiSC-Light ;
              font-weight: bold ;
              color: rgba(252, 160, 70, 1) ;
            }
            //圆
            .ant-steps-item-icon {
              width: 50px ;
              height: 50px ;
              background: rgba(252, 160, 70, 1) ;
              border: 1px solid rgba(252, 160, 70, 1) ;
              border-radius: 50% ;
              padding: 10px ;
            }
            //1，2，3
            .ant-steps-item-icon > .ant-steps-icon {
              width: 7px ;
              height: 19px ;
              font-size: 24px ;
              font-family: ArialMT ;
              font-weight: 400 ;
              color: rgba(255, 255, 255, 1) ;

            }

          }



          .ant-steps-item-tail:after {
            position: relative ;
            background-color: #597189;
            top: 8px ;
            left: 15px;
          }

          .ant-steps-item-title {
            color: #597189;
            font-size: 14px ;
            font-family: STHeitiSC-Light ;
            font-weight: bold ;
            position: relative;
            left:10px;

          }
          //圆
          .ant-steps-item-icon {
            width: 50px ;
            height: 50px ;
            //background: rgba(252, 160, 70, 1) ;
            background: #293548;
            //border: 1px solid rgba(252, 160, 70, 1) ;
            border: 1px solid  #597189;
            border-radius: 50% ;
            padding: 10px ;
          }
          //1，2，3
          .ant-steps-item-icon > .ant-steps-icon {
            width: 7px ;
            height: 19px ;
            font-size: 24px ;
            font-family: ArialMT ;
            font-weight: 400 ;
            //color: rgba(255, 255, 255, 1) ;
            color: #597189;
          }

      }

      .forgetform {
        margin-bottom: 10%;
        .ant-row {
          margin-top: 20px;
        }
        .ant-input {
          background-color: #1C2435 ;
          border: none ;
          color: rgba(85, 106, 139, 1) ;
          position: relative ;
          top: 10px ;
            }

        .has-success.has-feedback .ant-form-item-children-icon{
          position: relative ;
          top: 10px ;
          right:25px;
          index:2;
        }
        .has-error.has-feedback .ant-form-item-children-icon{
          position: relative ;
          top: 10px ;
          right:25px;
          index:2;

        }
        .ant-input::placeholder {
          color: rgba(85, 106, 139, 1);
           }

        .ant-form-explain {
          text-align: left ;
          position: relative ;
          top: 10px ;
           }
         .ant-form-item label{
           font-size: 14px ;
           font-family: MicrosoftYaHei ;
           font-weight: 400 ;
           color: #E5E5E5 ;
           line-height: 60px ;
         }
        //.phoneform{
        //  .ant-input{
        //    width:207px;
        //  }
        //}
        .reload-link {
          font-size: 12px;
          font-family: MicrosoftYaHei;
          font-weight: 400;
          text-decoration: underline;
          color: rgba(216, 161, 35, 1);
          line-height: 22px;
          margin-left: 10px;
          }
        .sendcode-link{
          font-size: 14px;
          font-family: MicrosoftYaHei;
          font-weight: 400;
          color: rgba(216, 161, 35, 1);
          line-height: 22px;
          margin-left: 15px;
          text-decoration: underline;
          position: relative;
          top: 10px;
          }
        .phone{
          font-size: 16px;
          color: rgba(85, 106, 139, 1);
          position: relative;
          top: 10px;
          }
        .Btn {
          width:121px;
          height:40px;
          background: linear-gradient(90deg, rgba(0, 255, 255, 1), rgba(41, 171, 226, 1));
          font-size: 16px;
          font-family: MicrosoftYaHei;
          font-weight: 400;
          border-radius: 3px;
          cursor: pointer;
          border: none;
          color: rgba(28,36,53,1);
          &:hover {
            background: linear-gradient(90deg, rgba(0, 215, 215, 1), rgba(41, 151, 216, 1));
             }
           }

         }
         &::after{
           content:"";
           clear:both;
           display:block;
           height:0;
           overflow:hidden;
           visibility:hidden;
          }
      }

    .footer {
      text-align: center;
      font-size: 12px;
      font-family: MicrosoftYaHei;
      font-weight: 400;
      color: rgba(102, 102, 102, 1);
      line-height: 22px;
       }

   }
      &::after{
        content:"";
        clear:both;
        display:block;
        height:0;
        overflow:hidden;
        visibility:hidden;
     }
}



