
.loginHeader {
   vertical-align: middle;
   padding:10px 24px ;
   overflow: hidden;
   background-color: #293A57;
   height:67px;
   border-bottom: 1px solid #0788be;
  .logo{
     width: 47px;
     height: 42px;
     margin-right: 14px;
   }
  .login-link{
    float : right;
    margin-top: 7px;
   }
  .title{
    position: relative;
    top:5px;
    display: inline;
    font-size:18px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(238,238,238,1);
    line-height:41px;
  }
  .atext{
    font-size:14px;
    font-family:PingFangSC-Light;
    font-weight:300;
    color:rgba(41,171,226,1);
    line-height:36px;
  }

}





